section{
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    gap: 70px;
}


.sec{
    background-color: orange;
}
.but{
    background-color: red;
}
.but:hover{
color:black;
background-color: brown;
border-radius: 5px;
}

