.sec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    background-color:orange;
    
}
.but{
    color:blue;
    background-color: palegreen;
    border-radius: 10px;
}
.img{
    margin-left: 10px;
}
