
body{
    background-color: blueviolet;
}
.h1{
    text-align: center;

}


.section{
    display: flex;
    gap: 50px;
    padding-left: 27%;
    height: 500px;
    width: 800px;
    margin-left: 100;
    

    
}
.card1{
    border: 2px solid  pink;
    text-align: center; 
    background-color: rgb(94, 27, 158);  
}
.card2{
    border: 2px solid green;
    text-align: center;
    background-color: yellow;
}
.card3{
    border: 2px solid blue;
    text-align: center;
    background-color:  red;
}
.w1,.w2,.w3{
    border-radius: 200%;
}
.b1,.b2,.b3{
    height: 40px;
    width: 200px;
    border-radius: 30px;


}