.main{
    display: flex;
    justify-content: space-around;
    flex-wrap:  wrap-reverse;
    background-color: chartreuse;
}
div{
    height: 200px;
    width: 200px;
    border: 2px solid brown;
    border-radius: 10px;
}
.d1{
    background-color: aqua;
}
.d2{
    background-color: blue;
}
.d3{
    background-color: blueviolet;
}
.d4{
    background-color: burlywood;
}