.d1,.d2,.d3,.d4,.d5,.d6{
    background-color: aqua;
    border: 2px solid green;

}
.cont{
    background-color:blue;
    height: 100vh;
    display: grid;


}
.d1{
    grid-column-start: 1;
    grid-column-end: 4;
}
.d6{
    grid-column-start: 1;
    grid-column-end: 4;

}
.d2{
    grid-row-start: 2;
    grid-row-end: 4;
}
